@model Product
@{
    ViewData["Title"] = "Create";
}


<div class="main-panel">
  <div class="content-wrapper">
<div class="row">
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic Table</h4>
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
          
               <tr>
                <td>@Model.Name</td>
                <td><img  style=" width:50px; height:50px" src="~/img/@Model.Image" /></td>
                <td>@Model.Price</td>
                <td>@Model.Category.Name</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>