@model ExpertPerson
@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
             <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Slider Image</h4>
                      <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <td><img src="~/img/@Model.ImgName" style="width:100px; height:100px"/></td>
                                       <td>
                                           @Model.Name
                                       </td>
                                       <td>
                                           @Model.Position
                                       </td>
                                     </tr>
                                    </tbody>
                                </table>
                     <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary mr-2 ">Delete</button>
                         <a class="btn btn-light"  asp-action="Index">Cancel</a>
                    </form>
                </div>
             </div>
           </div>
    </div>
</div>



