@model ExpertPerson
@{
    ViewData["Title"] = "Details";
    
}



<div class="main-panel">
  <div class="content-wrapper">
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic Table</h4>
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Position</th>
            </tr>
            </thead>
            <tbody>
               <tr>
                <td>@Model.Name</td>
                <td><img  style=" width:50px; height:50px" src="~/img/@Model.ImgName" /></td>
                <td>@Model.Position</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>
